<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/stopcf.css">
    </head>
    <body>
        <header class="rojo">
            <div class="envoltura">Look away! I'm hideous...</div>
        </header>
        <div class="ventanilla">
            {{content}}
        </div>
        <footer class="oscuro">
            <div class="envoltura">No one would claim copyright of this</div>
        </footer>
    </body>
</html>
